.slideshow {
  position: relative;
  margin: auto;
}

div.circle {
  width: 700px;
  height: 700px;
  border-radius: 100%;
  background: rgb(33, 66, 116);
  transition: all 1s;
  justify-content: center;
  align-items: center;
  margin: auto;
}

div.fade-out {
  transform: rotateZ(360deg);
  opacity: 0;
}

footer {
  background-color: rgb(33, 66, 116);
  margin: auto;
  margin-bottom: 0px;
  width: 100%;
  max-width: 1700px;
}
button.myBtn {
  margin-right: 45%;
  margin-left: 45%;
  width: 10%;
  background-color: rgb(33, 66, 116);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  font-size: 50px;
  font-weight: 500px;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 40px;
}

h2.title {
  font-size: 60px;
  font-weight: 1000px;
  text-align: center;
  padding: 100px;
  color: white;
  background-color: rgb(33, 66, 116);
  border: none;
  margin: 0px;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

h2 {
  font-size: 60px;
  font-weight: 1000px;
  text-align: center;
  padding: 100px;
  color: black;
  border: none;
  margin: 0px;
  margin-top: 0px;
}

h3 {
  font-size: 30px;
  font-weight: 500px;
  justify-content: center;
  text-align: center;
  padding-top: 0px;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: white;
}

p.modaltext {
  color: black;
  width: 90%;
  max-width: 90%;
}

p.description {
  color: black;
  width: 100%;
  max-width: 1000px;
}

.stat {
  opacity: 0; /* Makes it invisible */
  cursor: pointer; /* Hints that it is clickable */
  transition: all 1s; /* Adds animation as it becomes visible */
}

.stat:hover {
  opacity: 1; /* Makes it visible */
}

body {
  margin: 0px auto 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}

footer > p {
  margin: 0px;
  text-align: center;
  margin: 0px auto;
}

.portfolio {
  color: white;
}

.flourish-embed {
  width: 100%;
  max-width: 700px;
  align-items: center;
  margin: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  margin: 0 auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the images by default 
.circle {
  display: none;
} */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0px 50px 0px 50px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 16px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 16px 0 0 16px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@media (max-width: 768px) {
  h2.title {
    font-size: 30px;
    padding: 0px;
    width: 100%;
    max-width: 768px;
    padding-bottom: 150px;
    padding-top: 150px;
    top: 0px;
  }

  h2 {
    font-size: 30px;
    width: 100%;
    max-width: 768px;
    padding: 20px 0px;
  }

  h3 {
    font-size: 20px;
    max-width: 750px;
    margin: 20px 20px;
  }

  p.description {
    width: auto;
  }

  button.myBtn {
    margin-left: 137px;
    margin-top: 30px;
    padding: 10px;
    width: 100px;
  }

  .next {
    bottom: 20px;
    top: unset;
    color: white;
  }

  .prev {
    bottom: 20px;
    top: unset;
    color: white;
  }

  div.circle {
    margin: 12%;
  }

  .dots {
    align-items: center;
  }

  div.circle {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
    margin: auto;
    margin-top: 150px;
  }
  p {
    width: auto;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .flourish-embed {
    width: 100%;
  }
}
